@use '../_autoload' as *;


/*
.contentContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "content content"
        "sidebar sidebar";
    gap: 1rem;
    padding-block: $p-1;
}
.content {
    grid-area: content;
}
.sidebar {
    grid-area: sidebar;
}


@include media-breakpoint-up(md) {
    .contentContainer {
        grid-template-areas:
            "content content";
    }
    .contentContainer--sidebar {
        grid-template-areas:
            "sidebar content";
    }
}
*/
.content {
    padding-block: $p-1;
}
