@use '../_autoload' as *;


.logo {
    display: block;
    margin: 0 auto;

    img {
        width: 100%;
        height: 35px;
    }
}

@include media-breakpoint-up(md) {
    .logo {
        margin: 0 auto 0 0;

        img {
            height: 45px;
        }
    }
    .header--homepage {
        .logo {
            img {
                filter: brightness(0) invert(1) drop-shadow(0 1px 2px rgba(0,0,0, .5));
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .logo {
        margin: 5px auto 0 0;
    }
}
