@use 'sass:math';
@use '../_autoload' as *;


.navigation {
}

.navigation__link {
  position: relative;
  color: #585858;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 2px;
    width: 0;
    height: 1px;
    background-color: currentColor;
    transform: translateX(-50%);
    transition: width 0.2s ease;
  }
}
.navigation__link:hover {
  &::after {
    width: 100%;
  }
}
.navigation__link.active {
  pointer-events: none;

  &::after {
    width: 100%;
  }
}


// menu - mobil
//
.navigation--mobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: $spacer;

  .navigation__link {
    display: block;
    padding-block: 5px;
    color: #fff;
    font-size: 0.9rem;
  }
  .navigation__link.active {
    pointer-events: none;
    font-weight: bold;
    text-decoration: underline;

    &::after {
      display: none;
    }
  }
}


// menu - hlavička
//
.navigation--header {
  display: flex;
  gap: $spacer;
  padding-right: $spacer;
  border-right: 1px solid #585858;
}


@include media-breakpoint-up(md) {
  .header__navigation {
    display: flex;
    justify-content: flex-end;
    gap: $spacer;
  }

  .header--homepage {
    .navigation {
      border-right: 1px solid #fff;
    }
    .navigation__link {
      color: #fff;
      text-shadow: 0 2px 0 rgba(0,0,0, .2);

      &::after {
        box-shadow: 0 2px 0 rgba(0,0,0, .2);
      }
    }
  }
}


// menu - patička
//
// jazyky - patička
//
.navigation--footer {

  .navigation__link {
    display: inline-block;
    padding: math.div($spacer, 2) 0;
    font-weight: bold;
    text-align: center;

    &::after {
      bottom: math.div($spacer, 2);
    }
  }
}

@include media-breakpoint-up(md) {
  .navigation--footer {
    display: flex;
    gap: $spacer;
  }
}

@include media-breakpoint-up(lg) {
  .navigation--footer {
    padding-right: $spacer;
    border-right: 1px solid #585858;
  }
}
