@use '../_autoload' as *;

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}
.icon svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
    line-height: 1;
    vertical-align: top;
}
