@use '../_autoload' as *;

// tooltips
$tooltip-color:           #fff !default;
$tooltip-bg:              #000 !default;
$tooltip-arrow-width:     .8rem !default;
$tooltip-arrow-height:    .4rem !default;

.tooltip {
    z-index: $zindex-tooltip;
    display: block;
    margin: 0;
    @include reset-text();
    font-size: $font-size-sm;
    word-wrap: break-word;
    opacity: 0;

    &.show { opacity: 0.9; }

    .tooltip-arrow {
        display: block;
        width: $tooltip-arrow-width;
        height: $tooltip-arrow-height;

        &::before {
            position: absolute;
            content: "";
            border-color: transparent;
            border-style: solid;
        }
    }
}

.bs-tooltip-top .tooltip-arrow {
    bottom: calc(-1 * $tooltip-arrow-height); // stylelint-disable-line function-disallowed-list

    &::before {
        top: -1px;
        border-width: $tooltip-arrow-height calc($tooltip-arrow-width * .5) 0; // stylelint-disable-line function-disallowed-list
        border-top-color: $tooltip-bg;
    }
}

.bs-tooltip-bottom .tooltip-arrow {
    top: calc(-1 * $tooltip-arrow-height); // stylelint-disable-line function-disallowed-list

    &::before {
        bottom: -1px;
        border-width: 0 calc($tooltip-arrow-width * .5) $tooltip-arrow-height; // stylelint-disable-line function-disallowed-list
        border-bottom-color: $tooltip-bg;
    }
}

.bs-tooltip-start .tooltip-arrow {
    right: calc(-1 * $tooltip-arrow-height); // stylelint-disable-line function-disallowed-list
    width: $tooltip-arrow-height;
    height: $tooltip-arrow-width;

    &::before {
        left: -1px;
        border-width: calc($tooltip-arrow-width * .5) 0 calc($tooltip-arrow-width * .5) $tooltip-arrow-height; // stylelint-disable-line function-disallowed-list
        border-left-color: $tooltip-bg;
    }
}

.bs-tooltip-end .tooltip-arrow {
    left: calc(-1 * $tooltip-arrow-height); // stylelint-disable-line function-disallowed-list
    width: $tooltip-arrow-height;
    height: $tooltip-arrow-width;

    &::before {
        right: -1px;
        border-width: calc($tooltip-arrow-width * .5) $tooltip-arrow-height calc($tooltip-arrow-width * .5) 0; // stylelint-disable-line function-disallowed-list
        border-right-color: $tooltip-bg;
    }
}


.bs-tooltip-auto {
    &[data-popper-placement^="top"] {
        @extend .bs-tooltip-top;
    }
    &[data-popper-placement^="right"] {
        @extend .bs-tooltip-end;
    }
    &[data-popper-placement^="bottom"] {
        @extend .bs-tooltip-bottom;
    }
    &[data-popper-placement^="left"] {
        @extend .bs-tooltip-start;
    }
}

// Wrapper for the tooltip content
.tooltip-inner {
    max-width: 200px;
    padding: ($spacer * .25) ($spacer * .5);
    color: $tooltip-color;
    text-align: center;
    background-color: $tooltip-bg;
    border-radius: $border-radius;
}
