@use '../_autoload' as *;

// collapse
.collapse {
    &:not(.show) {
        display: none;
    }
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: $transition-collapse;

    &.collapse-horizontal {
        width: 0;
        height: auto;
        transition: $transition-collapse-width;
    }
}

// fade
.fade {
    transition: opacity .15s linear;

    &:not(.show) {
        opacity: 0;
    }
}

// Visually hidden
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;

    // Fix for positioned table caption that could become anonymous cells
    &:not(caption) {
        position: absolute !important;
    }
}

// Hard hidden
.hidden, [hidden] {
    display: none !important;
}
