@use '_autoload' as *;


.hero {
  display: grid;
  place-content: center;
  gap: 0;
  height: 350px;
  margin-top: -$spacer;
  margin-bottom: $m-lg;
  color: #fff;
  text-align: center;
  background: #f2f2f2 var(--bg) center;
  background-size: cover;

  h1 {
    margin: 0;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0, .5);
  }
  p {
    margin: $p-sm 0 0 0;
    padding-top: $p-sm;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-top: 1px solid #fff;
    text-shadow: 0 0 10px rgba(0,0,0, .8);
  }
}

@include media-breakpoint-up(md) {
  .hero {
    margin-top: 0;
  }
}
