@use '../_autoload' as *;

//
// Akordeon
//

$accordion-bg:                          #fff;
$accordion-border-color:                $border-color;
$accordion-button-active-color:         shade-color($color-primary, 60%);
$accordion-button-active-font-weight:   $font-weight-bold;
$accordion-button-active-bg:            tint-color($color-primary, 80%);
$accordion-icon:                        $caret-img;

.accordion {
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: $font-size-base;
    color: $color-base;
    text-align: left; // Reset button style
    background-color: $accordion-bg;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition:
        color .15s ease-in-out,
        font-weight .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out,
        border-radius .15s ease;

    &:not(.collapsed) {
        color: $accordion-button-active-color;
        font-weight: $accordion-button-active-font-weight;
        background-color: $accordion-button-active-bg;
        box-shadow: inset 0 calc(-1 * 1px) 0 $accordion-border-color;

        &::after {
            color: $color-primary;
            background-image: $caret-img;
            transform: rotate(-180deg);
        }
    }

    // Accordion icon
    &::after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        color: #000;
        background-image: $caret-img;
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform .2s ease-in-out;
    }

    &:hover {
        z-index: 2;
    }

    &:focus {
        z-index: 3;
        outline: 0;
        box-shadow: $focus-ring-box-shadow;
    }
}

.accordion-header {
    margin-bottom: 0;
}

.accordion-item {
    color: $color-base;
    background-color: $accordion-bg;
    border: 1px solid $accordion-border-color;

    &:first-of-type {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        > .accordion-header .accordion-button {
            border-top-left-radius: calc($border-radius - 1px);
            border-top-right-radius: calc($border-radius - 1px);
        }
    }

    &:not(:first-of-type) {
        border-top: 0;
    }

    // Only set a border-radius on the last item if the accordion is collapsed
    &:last-of-type {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        > .accordion-header .accordion-button {
            &.collapsed {
                border-bottom-left-radius: calc($border-radius - 1px);
                border-bottom-right-radius: calc($border-radius - 1px);
            }
        }

        > .accordion-collapse {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
}

.accordion-body {
    padding: 1rem 1.25rem;
}


// Flush accordion items
//
// Remove borders and border-radius to keep accordion items edge-to-edge.

.accordion-flush {
    > .accordion-item {
        border-right: 0;
        border-left: 0;
        border-radius: 0;

        &:first-child { border-top: 0; }
        &:last-child { border-bottom: 0; }

        // stylelint-disable selector-max-class
        > .accordion-header .accordion-button {
            &,
            &.collapsed {
                border-radius: 0;
            }
        }
        // stylelint-enable selector-max-class

        > .accordion-collapse {
            border-radius: 0;
        }
    }
}
