@use '../_autoload' as *;

$modal-bg:              $color-base-bg;
$modal-border-color:    $border-color;
$modal-border-radius:   $border-radius-lg;

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff


// Container that the modal scrolls within
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-modal;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;
    // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
    // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
    // See also https://github.com/twbs/bootstrap/issues/17695
}

// Shell div to position the modal with bottom padding
.modal-dialog {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: .5rem auto;
    // allow clicks to pass through for custom click handling to close modal
    pointer-events: none;

    // When fading in the modal, animate it to slide down
    .modal.fade & {
        transition: transform .3s ease-out;
        transform: translate(0, -50px);
    }
    .modal.show & {
        transform: none;
    }

    // When trying to close, animate focus to scale
    .modal.modal-static & {
        transform: scale(1.02);
    }
}

.modal-dialog-scrollable {
    height: calc(100% - .5rem * 2);

    .modal-content {
        max-height: 100%;
        overflow: hidden;
    }

    .modal-body {
        overflow-y: auto;
    }
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - .5rem * 2);
}

// Actual modal
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
    // counteract the pointer-events: none; in the .modal-dialog
    color: $color-base;
    pointer-events: auto;
    background-color: $modal-bg;
    background-clip: padding-box;
    border: 1px solid $modal-border-color;
    border-radius: $modal-border-radius;
    box-shadow: 0 .125rem .25rem rgba(#000, .075);
    // Remove focus outline from opened modal
    outline: 0;
}

// Modal background
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-modal-backdrop;
    width: 100vw;
    height: 100vh;
    background-color: $backdrop-bg;

    // Fade for backdrop
    &.fade { opacity: 0; }
    &.show { opacity: $backdrop-opacity; }
}



// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: $spacer;
    color: $color-primary;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: calc($border-radius-lg - 1px);
    border-top-right-radius: calc($border-radius-lg - 1px);

    .btn-close {
        padding: calc($spacer * .5) calc($spacer * .5);
        margin: calc(-.5 * $spacer) calc(-.5 * $spacer) calc(-.5 * $spacer) auto;
    }
}

// Title text within header
.modal-title {
    margin-bottom: 0;
    font-weight: $font-weight-bold;
    line-height: $line-height-base;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
    position: relative;
    // Enable `flex-grow: 1` so that the body take up as much space as possible
    // when there should be a fixed height on `.modal-dialog`.
    flex: 1 1 auto;
    padding: $spacer;
}

// Footer (for actions)
.modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center; // vertically center
    justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
    padding: calc($spacer - .5rem * .5);
    background-color: $color-base-bg;
    border-top: 1px solid $border-color;
    border-bottom-left-radius: calc($border-radius-lg - 1px);
    border-bottom-right-radius: calc($border-radius-lg - 1px);
}
