@use '../_autoload' as *;

$nav-link-color:            $link-color;
$nav-link-hover-color:      $link-hover-color;
$nav-link-hover-bg:         tint-color($color-primary, 80%);
$nav-tabs-border-color:     tint-color($color-primary, 80%);
$nav-tabs-border-radius:    $border-radius;
$nav-tabs-link-active-bg:   tint-color($color-primary, 80%);

// Tabs
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $nav-link-color;
    text-decoration: if($link-decoration == none, null, none);
    background: none;
    border: 0;
    transition:
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out;

    &:hover,
    &:focus {
        color: $nav-link-hover-color;
        text-decoration: if($link-hover-decoration == underline, none, null);
    }

    &:focus-visible {
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba($color-primary, .25);
    }

    // Disabled state lightens text
    &.disabled,
    &:disabled {
        color: $color-secondary;
        pointer-events: none;
        cursor: default;
    }
}


// Tabs
//
.nav-tabs {
    border-bottom: 1px solid $nav-tabs-border-color;

    .nav-link {
        margin-bottom: calc(-1 * 1px);
        border: 1px solid transparent;
        border-top-left-radius: $nav-tabs-border-radius;
        border-top-right-radius: $nav-tabs-border-radius;

        &:hover,
        &:focus {
            // Prevents active .nav-link tab overlapping focus outline of previous/next .nav-link
            isolation: isolate;
            background-color: $nav-link-hover-bg;
            border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: $color-base;
        background-color: $nav-tabs-link-active-bg;
        border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-link-active-bg $nav-tabs-border-color;
    }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
    > .tab-pane {
        display: none;
    }
    > .active {
        display: block;
    }
}
