# Service definitions
# All application services registered in DI container

services:
    shopContext:
        type: App\Shop\ShopContext
        imported: true

    router:
        type: Nette\Routing\Router
        imported: true

    application.application:
        setup:
            - $errorPresenter('Error:Error')
            - $error4xxPresenter('Error:Error')


    # === Repositories ===
    - App\Core\FormFactory
    - App\Model\Category\BaseCategoryRepository
    - App\Model\Category\MenuCategoryRepository
    - App\Model\Product\ProductRepository
    - App\Model\Product\ProductVariantService
    - App\Model\Parameter\ParameterGroupRepository
    - App\Model\Customer\CustomerAuthenticator
    - App\Model\Customer\CustomerRepository
    - App\Model\Customer\DeliveryAddressRepository