@use '../_autoload' as *;

//
// Base styles
//

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap; // For form validation feedback
    align-items: stretch;
    width: 100%;

    > .form-control,
    > .form-select,
    > .form-floating {
        position: relative; // For focus state's z-index
        flex: 1 1 auto;
        width: 1%;
        min-width: 0; // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
    }

    // Bring the "active" form control to the top of surrounding elements
    > .form-control:focus,
    > .form-select:focus,
    > .form-floating:focus-within {
        z-index: 5;
    }

    // Ensure buttons are always above inputs for more visually pleasing borders.
    // This isn't needed for `.input-group-text` since it shares the same border-color
    // as our inputs.
    .btn {
        position: relative;
        z-index: 2;

        &:focus {
            z-index: 5;
        }
    }
}


// Textual addons
//
// Serves as a catch-all element for any text or radio/checkbox input you wish
// to prepend or append to an input.

.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    color: $color-base;
    text-align: center;
    white-space: nowrap;
    background-color: #f8f9fa;
    border: $form-border-width solid $form-border-color;
    border-radius: $border-radius;
}


// Sizing
//
// Remix the default form control sizing classes into new ones for easier
// manipulation.

.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-text,
.input-group-lg > .btn {
    padding: .5rem 1rem;
    font-size: $font-size-lg;
    border-radius: $border-radius-lg;
}

.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-text,
.input-group-sm > .btn {
    padding: .25rem .5rem;
    font-size: $font-size-sm;
    border-radius: $border-radius-sm;
}

.input-group-lg > .form-select,
.input-group-sm > .form-select {
    padding-right: .75rem + .75rem * 3;
}


// Rounded corners
//
// These rulesets must come after the sizing ones to properly override sm and lg
// border-radius values when extending. They're more specific than we'd like
// with the `.input-group >` part, but without it, we cannot override the sizing.

// stylelint-disable-next-line no-duplicate-selectors
.input-group {
    &:not(.has-validation) {
        > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
        > .dropdown-toggle:nth-last-child(n + 3),
        > .form-floating:not(:last-child) > .form-control,
        > .form-floating:not(:last-child) > .form-select {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &.has-validation {
        > :nth-last-child(n + 3):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
        > .dropdown-toggle:nth-last-child(n + 4),
        > .form-floating:nth-last-child(n + 3) > .form-control,
        > .form-floating:nth-last-child(n + 3) > .form-select {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    > :not(:first-child):not(.dropdown-menu) {
        margin-left: calc(1px * -1); // stylelint-disable-line function-disallowed-list
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    > .form-floating:not(:first-child) > .form-control,
    > .form-floating:not(:first-child) > .form-select {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
